
<div class="container">
    <div class="row" style="padding: 50px;">
       <div class="col-md-6">
           <h1>Details Page</h1>
       </div>
       <div class="col-md-6">
           <button type="button" class="btn btn-primary" routerLink="/list">List</button>
       </div>
    </div>

    <form (ngSubmit)="onEditSumbit(edit)" #edit="ngForm">
        <input type="text" name="email" placeholder="Enter Email" [(ngModel)]="email" name="email">
        <button type="submit">Save</button>
      </form>
 </div>


